html, body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 0% 10% 0% 10%;
    margin: auto;  
}

h1 {
    margin: 0px 0px 0px 0px;
    padding: 0px;
}

h5 {
    margin: 0px 0px 10px 0px;
    padding: 0px;
}

.entry {
    display: block;
    margin-top: 20px;
}

.audio_section {
    display: flex;
    flex-direction: column;
}

audio {
    border-radius: 10px;
}

label {
    font-size: .8em;
    text-align: right;
    font-style: italic;
}

img {
    /* display: inline-block; */
    width: 50vw;
}

table, th, td {
    border-bottom: 1px solid rgb(78, 78, 78);
    border-collapse: collapse;
    padding: 3px;
    font-size: 1.1em;
}

caption {
    caption-side: bottom;
    font-size: .8em;
    font-style: italic;

}

.inner {
    border-left: 1px solid rgb(78, 78, 78);
}

.post_image {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.post_heading {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.entry_name {
    text-transform: capitalize;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 2em;
    margin: 0px 15px 0px 15px;
}

.post_text {
    display: block;
}

.text {
    text-indent: 5%;
    font-size: 1.2em;
}

.post_credit {
    display: block;
    text-align: right;
}


@media (max-width: 720px) {
    .post_heading {
        display: flex;
        flex-direction: column;
    }
}